@font-face {
  font-family: "Lato";
  src: local("Lato"), local("Lato-normal"), local("Lato normal"), url("/ShopOnline/fonts/lato-regular.woff2") format("woff2"), url("/ShopOnline/fonts/lato-regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato"), local("Lato-normal"), local("Lato normal"), url("/ShopOnline/fonts/lato-bold.woff2") format("woff2"), url("/ShopOnline/fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato"), local("Lato-normal"), local("Lato normal"), url("/fonts/lato-regular.woff2") format("woff2"), url("/fonts/lato-regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: local("Lato"), local("Lato-normal"), local("Lato normal"), url("/fonts/lato-bold.woff2") format("woff2"), url("/fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #2D2D2D;
  font-family: Lato, Open Sans, sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 20px;
}

p {
  margin: 0;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol {
  margin-block-start: 0;
  margin-block-end: 20px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 42px;
  }
}
@media screen and (max-width: 814px) {
  .container {
    padding: 0 34px;
  }
}
@media screen and (max-width: 630px) {
  .container {
    padding: 0 20px;
  }
}
.account__list {
  list-style: none;
  display: grid;
  grid-template-columns: 73px 70px 82px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  max-width: 354px;
}
.account__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #2D2D2D;
  cursor: pointer;
}
.account__item_profile:before {
  content: "";
  background-image: url("/ShopOnline/img/profile.svg");
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
}
.account__item_cart:before {
  content: "";
  background-image: url("/ShopOnline/img/shopping_cart.svg");
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
}
.account__item_favorite:before {
  content: "";
  background-image: url("/ShopOnline/img/favorite.svg");
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
}
@media screen and (max-width: 1200px) {
  .account__list {
    gap: 40px;
  }
}
@media screen and (max-width: 814px) {
  .account__list {
    gap: 30px;
  }
  .account__item {
    font-size: 12px;
  }
  .account__item_profile:before, .account__item_cart:before, .account__item_favorite:before {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 630px) {
  .account__list {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .account__item {
    visibility: hidden;
    width: 30px;
    height: 30px;
  }
  .account__item_profile:before, .account__item_cart:before, .account__item_favorite:before {
    visibility: visible;
    position: absolute;
  }
}

.article {
  margin: 0 0 100px 0;
}
.article__h1 {
  font-size: 50px;
}
.article__p, .article__ol {
  line-height: 28px;
  font-size: 18px;
}
.article__p {
  margin: 0 0 20px 0;
}
@media screen and (max-width: 815px) {
  .article__h1 {
    font-size: 40px;
  }
  .article__p, .article__ol {
    font-size: 16px;
  }
}
@media screen and (max-width: 630px) {
  .article__h1 {
    font-size: 30px;
  }
  .article__p, .article__ol {
    font-size: 14px;
  }
}

.article-content__img {
  margin: 0 0 20px 0;
}
.article-content__p {
  line-height: 28px;
  margin: 0 0 20px 0;
  font-size: 18px;
}
@media screen and (max-width: 815px) {
  .article-content__p {
    font-size: 16px;
  }
}
@media screen and (max-width: 630px) {
  .article-content__p {
    font-size: 14px;
  }
}

.article-section__p {
  line-height: 28px;
  margin: 0 0 20px 0;
  font-size: 18px;
}
.article-section__h2 {
  font-size: 26px;
}
@media screen and (max-width: 815px) {
  .article-section__h2 {
    font-size: 22px;
  }
  .article-section__p {
    font-size: 16px;
  }
}
@media screen and (max-width: 630px) {
  .article-section__h2 {
    font-size: 20px;
  }
  .article-section__p {
    font-size: 14px;
  }
}

.banners {
  padding: 90px 0;
}
@media screen and (max-width: 1200px) {
  .banners {
    padding: 65px 0;
  }
}
@media screen and (max-width: 814px) {
  .banners {
    padding: 60px 0;
  }
}
@media screen and (max-width: 630px) {
  .banners {
    padding: 40px 0;
  }
}

.breadcrumbs {
  padding: 80px 0;
}
.breadcrumbs__list {
  display: flex;
}
.breadcrumbs__item::after {
  content: ">";
  margin: 0 10px;
}
.breadcrumbs__item:last-child::after {
  content: "";
}
@media screen and (max-width: 815px) {
  .breadcrumbs {
    padding: 50px 0;
  }
  .breadcrumbs__list {
    font-size: 16px;
  }
}
@media screen and (max-width: 630px) {
  .breadcrumbs {
    padding: 30px 0;
  }
  .breadcrumbs__list {
    font-size: 12px;
  }
}

.date {
  font-weight: 700;
  font-size: 32px;
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 78px;
  align-items: center;
}
.date__bigger {
  font-weight: 700;
  font-size: 60px;
}
@media screen and (max-width: 1200px) {
  .date {
    height: auto;
    gap: 20px;
  }
}
@media screen and (max-width: 814px) {
  .date {
    gap: 10px;
  }
}
@media screen and (max-width: 630px) {
  .date {
    gap: 8px;
  }
}

@media screen and (max-width: 1200px) {
  .date__item {
    font-size: 20px;
  }
}
@media screen and (max-width: 814px) {
  .date__item {
    font-size: 16px;
  }
}
@media screen and (max-width: 630px) {
  .date__item {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .date__bigger {
    font-size: 40px;
  }
}
@media screen and (max-width: 814px) {
  .date__bigger {
    font-size: 30px;
  }
}
@media screen and (max-width: 630px) {
  .date__bigger {
    font-size: 20px;
  }
}

.description-ending {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;
}
.description-ending__title {
  font-weight: 700;
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  .description-ending {
    margin: 0 0 36px 0;
    gap: 10px;
  }
}
@media screen and (max-width: 814px) {
  .description-ending {
    margin: 0 0 30px 0;
    gap: 4px;
  }
}
@media screen and (max-width: 630px) {
  .description-ending {
    gap: 0;
  }
}

@media screen and (max-width: 814px) {
  .description-ending__title {
    font-size: 12px;
  }
}
@media screen and (max-width: 630px) {
  .description-ending__title {
    font-size: 8px;
    line-height: 22px;
  }
}

.form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form__input {
  background-color: #EFEFEF;
  border-radius: 30px;
  border: none;
  max-width: 757px;
  width: 100%;
  height: 54px;
  position: relative;
  font-weight: 700;
  font-size: 16px;
  color: #8F8F8F;
  padding: 15px 40px;
}
.form__input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-weight: 700;
  font-size: 16px;
  color: #8F8F8F;
}
.form__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-weight: 700;
  font-size: 16px;
  color: #8F8F8F;
}
.form__input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-weight: 700;
  font-size: 16px;
  color: #8F8F8F;
}
.form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 700;
  font-size: 16px;
  color: #8F8F8F;
}
.form__input::-ms-input-placeholder { /* Microsoft Edge */
  font-weight: 700;
  font-size: 16px;
  color: #8F8F8F;
}
.form__input::placeholder { /* Most modern browsers support this now. */
  font-weight: 700;
  font-size: 16px;
  color: #8F8F8F;
}
.form__button {
  position: absolute;
  border: none;
  background-color: #3670C7;
  border-radius: 30px;
  width: 101px;
  height: 54px;
  background-image: url("/ShopOnline/img/search.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  cursor: pointer;
}

@media screen and (max-width: 814px) {
  .form__button {
    width: 82px;
    height: 42px;
  }
  .form__input {
    height: 42px;
    font-size: 12px;
    color: #8F8F8F;
    padding: 15px 30px;
  }
  .form__input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 12px;
  }
  .form__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
  }
  .form__input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 12px;
  }
  .form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 12px;
  }
  .form__input::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 12px;
  }
  .form__input::placeholder { /* Most modern browsers support this now. */
    font-size: 12px;
  }
}
@media screen and (max-width: 630px) {
  .form__input {
    height: 30px;
    border-radius: 30px;
  }
  .form__button {
    width: 50px;
    height: 30px;
    background-size: 20px 20px;
    border-radius: 30px;
    font-size: 8px;
    color: #8F8F8F;
  }
  .form__input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 8px;
  }
  .form__input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 8px;
  }
  .form__input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 8px;
  }
  .form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 8px;
  }
  .form__input::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 8px;
  }
  .form__input::placeholder { /* Most modern browsers support this now. */
    font-size: 8px;
  }
}
.grid {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(2, 1fr) 2.2fr repeat(2, 1fr);
  grid-template-rows: minmax(280px, 480px) repeat(4, minmax(196px, 228px));
}
.grid__item {
  background-position: center center;
  border-radius: 20px;
  display: grid;
  cursor: pointer;
}
.grid__item_laptop {
  background-image: url("../img/main-banner-big.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/6;
  grid-row: 1/2;
  max-height: 480px;
  align-items: end;
  grid-template-rows: 1fr 1fr;
}
.grid__item_book {
  background-image: url("../img/1-book.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: end;
  padding: 20px;
}
.grid__item_sales {
  background-image: url("../img/2-sale.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14px 14px 20px 14px;
}
.grid__item_shoes {
  background-image: url("../img/3-second-pair.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 2/4;
  padding: 20px;
}
.grid__item_christmas-gifts {
  background-image: url("../img/4-christmas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 4/6;
  grid-row: 2/3;
  padding: 30px;
}
.grid__item_red-shoe {
  background-image: url("../img/5-shoe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 3/4;
  grid-column: 1/3;
  padding: 20px;
}
.grid__item_december {
  background-image: url("../img/6-laptop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 3/4;
  grid-column: 4/6;
  padding: 20px 20px 20px 30px;
}
.grid__item_christmas-decoration {
  background-image: url("../img/7-christmas-decorations.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 4/6;
  grid-column: 1/4;
  padding: 50px;
}
.grid__item_red-dress {
  background-image: url("../img/8-red-dress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 4/6;
  grid-column: 4/5;
  align-items: end;
  justify-items: end;
  padding: 20px;
}
.grid__item_cleaning {
  background-image: url("../img/9-cleaning.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 4/5;
  grid-column: 5/6;
  padding: 20px;
}
.grid__item_red-christmas {
  background-image: url("../img/10-christmas-red.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 5/6;
  grid-column: 5/6;
}
@media screen and (max-width: 1744px) {
  .grid__item {
    border-radius: 16px;
  }
  .grid__item_cleaning {
    padding: 10px 10px 20px 10px;
  }
  .grid__item_december {
    padding: 36px 10px 10px 30px;
  }
  .grid__item_red-shoe {
    padding: 10px;
  }
  .grid__item_book {
    padding: 32px 13px;
  }
  .grid__item_red-dress {
    padding: 10px;
  }
  .grid__item_christmas-decoration {
    padding: 40px 30px;
  }
  .grid__item_sales {
    padding: 10px 10px 10px 14px;
  }
}
@media screen and (max-width: 1200px) {
  .grid {
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(280px, 314px) minmax(130px, 202px) repeat(3, 194px) minmax(337px, 418px);
  }
  .grid__item_laptop {
    grid-column: 1/5;
    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;
  }
  .grid__item_christmas-gifts {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .grid__item_christmas-decoration {
    grid-row: 6/7;
    grid-column: 1/5;
  }
  .grid__item_december {
    grid-row: 5/6;
    grid-column: 1/3;
  }
  .grid__item_red-dress {
    grid-row: 4/6;
    grid-column: 3/4;
  }
  .grid__item_shoes {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .grid__item_cleaning {
    grid-row: 4/5;
    grid-column: 4/5;
  }
  .grid__item_red-christmas {
    grid-row: 5/6;
    grid-column: 4/5;
  }
}
@media screen and (max-width: 814px) {
  .grid {
    gap: 20px;
    grid-template-columns: 1.21fr 1.21fr 1.6fr 1.55fr;
    grid-template-rows: 280px minmax(120px, 130px) repeat(3, 126px) minmax(123px, 337px);
  }
  .grid__item_book {
    padding: 15px 10px;
  }
  .grid__item_sales {
    padding: 15px 10px 10px 15px;
  }
  .grid__item_shoes {
    padding: 10px;
  }
  .grid__item_christmas-gifts {
    padding: 18px 21px;
  }
  .grid__item_december {
    padding: 20px 21px;
  }
  .grid__item_cleaning {
    padding: 10px 15px 18px 10px;
  }
  .grid__item_christmas-decoration {
    padding: 26px;
  }
}
@media screen and (max-width: 630px) {
  .grid {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 340px repeat(2, 120px) 206px repeat(2, 120px) repeat(2, 95px) 123px;
  }
  .grid__item {
    border-radius: 8px;
  }
  .grid__item_laptop {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .grid__item_book {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid__item_sales {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 18px 5px 5px 10px;
  }
  .grid__item_red-shoe {
    grid-column: 1/3;
    grid-row: 3/4;
    padding: 5px;
  }
  .grid__item_shoes {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .grid__item_christmas-gifts {
    grid-column: 1/3;
    grid-row: 5/6;
    padding: 16px 10px;
  }
  .grid__item_december {
    grid-column: 1/3;
    grid-row: 6/7;
    padding: 5px 5px 5px 10px;
  }
  .grid__item_red-dress {
    grid-row: 7/9;
    grid-column: 1/2;
  }
  .grid__item_cleaning {
    grid-row: 7/8;
    grid-column: 2/3;
    padding: 5px 5px 18px 5px;
  }
  .grid__item_red-christmas {
    grid-row: 8/9;
    grid-column: 2/3;
  }
  .grid__item_christmas-decoration {
    grid-row: 9/10;
    grid-column: 1/3;
    padding: 10px 15px;
  }
}

.grid-header {
  display: grid;
  grid-template-columns: minmax(114px, 190px) minmax(79px, 151px) minmax(280px, 757px) minmax(130px, 354px);
  align-items: center;
  justify-items: stretch;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
}
.grid-header__link {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.06em;
  color: #2D2D2D;
  text-decoration: none;
}
.grid-header__span {
  color: #3670C7;
}
.grid-header__menu {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #3670C7;
  border-radius: 10px;
  max-width: 151px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: 0;
}
.grid-header__menu:before {
  content: "";
  background-image: url("/ShopOnline/img/sort.svg");
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.grid-header__menu.clicked:before {
  background-image: url("/ShopOnline/img/clear.svg");
}
@media screen and (max-width: 1200px) {
  .grid-header {
    display: grid;
    grid-template-columns: minmax(165px, 190px) minmax(536px, 700px);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
    justify-content: space-between;
  }
  .grid-header__search {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .grid-header__account {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
  }
}
@media screen and (max-width: 814px) {
  .grid-header {
    display: grid;
    grid-template-columns: minmax(114px, 165px) minmax(280px, 540px);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
    justify-content: space-between;
    gap: 30px 0;
  }
  .grid-header__menu {
    font-size: 16px;
    max-width: 115px;
    height: 42px;
    gap: 7px;
    border-radius: 6px;
  }
  .grid-header__link {
    font-size: 26px;
  }
}
@media screen and (max-width: 630px) {
  .grid-header {
    grid-template-columns: 114px 130px;
    grid-template-rows: repeat(3, 30px);
    gap: 20px;
  }
  .grid-header__search {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .grid-header__account {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
  }
  .grid-header__menu {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 79px;
    font-size: 12px;
    height: 30px;
    border-radius: 4px;
  }
  .grid-header__account {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: end;
  }
  .grid-header__link {
    font-size: 18px;
  }
  .grid-header__menu:before {
    content: "";
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
  }
}

.grid-item-wrap__desc_main {
  font-weight: 700;
  font-size: 70px;
  line-height: 91px;
  padding: 0 0 0 112px;
}
.grid-item-wrap__desc {
  color: #FFFFFF;
}
.grid-item-wrap__desc_book {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}
.grid-item-wrap__book-span {
  font-weight: 700;
  font-size: 40px;
}
.grid-item-wrap__desc_sales {
  font-weight: 600;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 14px;
}
.grid-item-wrap__desc_sales:after {
  content: "-25%";
  background-color: #FFBD13;
  border-radius: 100px;
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
}
.grid-item-wrap__desc_shoes {
  font-size: 40px;
  background-color: #38C0EB;
  height: fit-content;
  padding: 24px 26px;
  border-radius: 20px;
  line-height: 62px;
  align-self: end;
  white-space: pre-line;
}
.grid-item-wrap__shoes-span {
  font-weight: 700;
  font-size: 56px;
}
.grid-item-wrap__desc_gifts {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  align-self: end;
}
.grid-item-wrap__desc_december {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid-item-wrap__desc_december:after {
  content: "-15%";
  background-color: #FFBD13;
  border-radius: 100px;
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}
.grid-item-wrap__desc_christmas-decoration {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-self: end;
  display: flex;
  color: #F91155;
  padding: 30px 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  max-width: 631px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.grid-item-wrap__red-dress:after {
  content: "-55%";
  background-color: #FFBD13;
  color: #FFFFFF;
  border-radius: 100px;
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}
.grid-item-wrap__red-shoe:after {
  content: "-40%";
  background-color: #FFBD13;
  color: #FFFFFF;
  border-radius: 100px;
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}
.grid-item-wrap__desc_cleaning {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-item-wrap__desc_cleaning:before {
  content: "-25%";
  background-color: #FFBD13;
  color: #FFFFFF;
  border-radius: 100px;
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}
@media screen and (max-width: 1744px) {
  .grid-item-wrap__desc_sales {
    font-size: 24px;
    line-height: 31px;
  }
  .grid-item-wrap__desc_shoes {
    font-size: 30px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .grid-item-wrap__desc_main {
    font-size: 40px;
    padding: 0 0 0 80px;
  }
  .grid-item-wrap__desc_shoes {
    line-height: 48px;
  }
}
@media screen and (max-width: 814px) {
  .grid-item-wrap__desc_main {
    font-size: 30px;
  }
  .grid-item-wrap__desc_book {
    line-height: 24px;
    font-size: 21px;
  }
  .grid-item-wrap__book-span {
    font-size: 26px;
  }
  .grid-item-wrap__desc_sales {
    font-size: 15px;
    line-height: 21px;
  }
  .grid-item-wrap__desc_shoes {
    line-height: 18px;
    font-size: 15px;
    white-space: normal;
    border-radius: 12px;
  }
  .grid-item-wrap__shoes-span {
    font-size: 26px;
  }
  .grid-item-wrap__desc_gifts {
    font-size: 16px;
    line-height: 19px;
    max-width: 140px;
  }
  .grid-item-wrap__desc_december {
    font-size: 16px;
    line-height: 19px;
  }
  .grid-item-wrap__desc_december:after {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    font-size: 16px;
  }
  .grid-item-wrap__desc_sales:after {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    font-size: 16px;
  }
  .grid-item-wrap__red-shoe:after {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    font-size: 16px;
  }
  .grid-item-wrap__desc_cleaning:before {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    font-size: 16px;
  }
  .grid-item-wrap__red-dress:after {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    font-size: 16px;
  }
  .grid-item-wrap__desc_sales {
    justify-content: space-between;
  }
  .grid-item-wrap__desc_cleaning {
    font-size: 15px;
    line-height: 19px;
  }
  .grid-item-wrap__desc_christmas-decoration {
    font-size: 20px;
    max-width: 347px;
    padding: 22px 34px;
    line-height: 24px;
    border-radius: 12px;
  }
}
@media screen and (max-width: 630px) {
  .grid-item-wrap__desc_main {
    padding: unset;
    font-size: 22px;
    text-align: center;
    align-self: start;
    line-height: 135px;
  }
  .grid-item-wrap__desc_book {
    line-height: 18px;
    font-size: 14px;
  }
  .grid-item-wrap__book-span {
    font-size: 16px;
  }
  .grid-item-wrap__desc_sales {
    font-size: 12px;
    line-height: 16px;
  }
  .grid-item-wrap__desc_shoes {
    line-height: 13px;
    font-size: 11px;
    padding: 10px 25px;
    border-radius: 8px;
  }
  .grid-item-wrap__shoes-span {
    font-size: 15px;
  }
  .grid-item-wrap__desc_gifts {
    font-size: 12px;
    line-height: 14px;
    max-width: unset;
  }
  .grid-item-wrap__desc_december {
    font-size: 12px;
    line-height: 14px;
    max-width: unset;
  }
  .grid-item-wrap__desc_cleaning {
    font-size: 12px;
    line-height: 38px;
  }
  .grid-item-wrap__desc_christmas-decoration {
    font-size: 12px;
    max-width: 250px;
    padding: 10px 27px;
    line-height: 14px;
    height: 30px;
    border-radius: 6px;
  }
}

.header {
  padding: 30px 0 0 0;
}
@media screen and (max-width: 814px) {
  .header {
    padding: 25px 0 0 0;
  }
}
@media screen and (max-width: 630px) {
  .header {
    padding: 20px 0 0 0;
  }
}

.header-menu {
  opacity: 0;
  visibility: hidden;
}
.header-menu__on {
  opacity: 1;
  visibility: visible;
}
.header-menu__close {
  position: absolute;
  top: 35px;
  right: 16px;
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}
.header-menu__close span {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000000;
  top: 13px;
}
.header-menu__close span:first-child {
  transform: rotate(45deg);
}
.header-menu__close span:last-child {
  transform: rotate(-45deg);
}
@media screen and (max-width: 720px) {
  .header-menu__close {
    display: block;
  }
}
.header-menu__absolute {
  position: relative;
}
.header-menu__wrap {
  display: grid;
  background-color: #FFFFFF;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  align-content: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 470px;
}
.header-menu__catalog, .header-menu__policy, .header-menu__contacts {
  display: grid;
  gap: 40px;
  font-size: 22px;
  align-self: start;
}
.header-menu__title {
  font-size: 28px;
  font-weight: 700;
}
.header-menu__list {
  display: grid;
  gap: 20px 35px;
}
.header-menu__list_grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px 35px;
}
@media screen and (max-width: 1300px) {
  .header-menu__list {
    font-size: 18px;
  }
}
@media screen and (max-width: 940px) {
  .header-menu__list {
    grid-template-columns: auto;
  }
  .header-menu__wrap {
    height: 585px;
  }
}
@media screen and (max-width: 720px) {
  .header-menu {
    position: fixed;
    height: 100vh;
    background-color: white;
    top: 0;
    width: 60%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .header-menu__on {
    transform: translateX(0);
  }
  .header-menu__absolute {
    position: unset;
    padding: 40px 0 0 0;
  }
  .header-menu__wrap {
    grid-template-columns: 1fr;
    gap: 40px;
    height: auto;
    position: unset;
  }
}
@media screen and (max-width: 630px) {
  .header-menu__wrap {
    gap: 20px;
  }
  .header-menu__catalog, .header-menu__policy, .header-menu__contacts {
    gap: 20px;
  }
  .header-menu__list {
    font-size: 14px;
  }
  .header-menu__list_grid {
    gap: 15px 35px;
  }
  .header-menu__title {
    font-size: 20px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 147px 0;
}
.pagination__button {
  display: inline-block;
  padding: 8px 13px;
  margin: 0 5px;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
}
.pagination__button:hover svg path {
  fill: #3670C7;
}
.pagination__link {
  border-radius: 4px;
  border: 2px solid #000000;
}
.pagination__button--current {
  font-weight: bold;
  color: #3670C7;
  border: 2px solid #3670C7;
}
.pagination__button--disabled {
  opacity: 0.5;
  pointer-events: none;
}

#previews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 50px 10%;
}
@media screen and (max-width: 975px) {
  #previews {
    grid-template-columns: repeat(1, 1fr);
  }
}

.previews {
  margin: 0 0 80px 0;
}

.preview {
  margin: 0;
  max-width: 645px;
}
.preview__link {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-gap: 13px 30px;
}
.preview__image {
  grid-row: 1/3;
  border-radius: 20px;
}
.preview__title {
  grid-column: 2;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}
.preview__info {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 85px);
  grid-template-rows: auto auto;
  grid-gap: 40px 0;
  align-items: center;
}
.preview__date {
  grid-column: 1/3;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: rgb(143, 143, 143);
}
.preview__views {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: rgb(143, 143, 143);
}
.preview__comments {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: rgb(143, 143, 143);
}
@media screen and (max-width: 1440px) {
  .preview__title {
    font-size: 26px;
    line-height: 33px;
  }
}
@media screen and (max-width: 1100px) {
  .preview__title {
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (max-width: 975px) {
  .preview__title {
    font-size: 26px;
    line-height: 33px;
  }
  .preview {
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .preview__title {
    font-size: 20px;
    line-height: 20px;
  }
  .preview__link {
    grid-gap: 0 30px;
  }
  .preview__info {
    grid-gap: 5px 0;
  }
}
@media screen and (max-width: 375px) {
  .preview__title {
    font-size: 18px;
    line-height: 20px;
  }
  .preview__link {
    grid-gap: 0 10px;
  }
  .preview__link {
    grid-template-columns: 110px 1fr;
  }
  .preview__info__date {
    font-size: 14px;
  }
}

.footer {
  background-color: rgb(45, 45, 45);
  color: rgb(255, 255, 255);
}
.footer-info {
  padding: 80px 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 30px 80px;
}
.footer-wrap {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  align-items: start;
  justify-content: space-between;
}
.footer-catalog__detail_title, .footer-policy__detail_title, .footer-contacts__detail_title {
  font-size: 28px;
  font-weight: 700;
}
.footer-catalog, .footer-policy, .footer-contacts {
  display: grid;
  gap: 40px;
  font-size: 22px;
}
.footer-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px 35px;
}
.footer .policy-list {
  display: grid;
  gap: 20px;
}
.footer .contacts-wrapper__detail {
  font-size: 16px;
}
.footer .contacts-wrapper {
  display: grid;
  gap: 10px;
}
.footer .socials {
  display: flex;
  gap: 20px;
}
.footer .copyright {
  display: flex;
  justify-content: space-between;
  grid-column: 1/3;
}
.footer .copyright__detail_who {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1300px) {
  .footer-info {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    gap: 50px 0;
  }
  .footer-info__logo {
    grid-column: 1/3;
  }
  .footer-policy, .footer-catalog {
    font-size: 18px;
  }
}
@media screen and (max-width: 940px) {
  .footer-list {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 720px) {
  .footer-wrap {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media screen and (max-width: 630px) {
  .footer .copyright {
    font-size: 14px;
    flex-direction: column;
    gap: 20px 0;
  }
  .footer-policy, .footer-catalog {
    font-size: 14px;
  }
  .footer .contacts-wrapper__detail {
    font-size: 14px;
  }
  .footer-catalog__detail_title, .footer-policy__detail_title, .footer-contacts__detail_title {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
