.grid-item-wrap__desc_main {
  font-weight: 700;
  font-size: 70px;
  line-height: 91px;
  padding: 0 0 0 112px;
}

.grid-item-wrap__desc {
  color: #ffffff;
}

.grid-item-wrap__desc_book {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.grid-item-wrap__book-span {
  font-weight: 700;
  font-size: 40px;
}

.grid-item-wrap__desc_sales {
  font-weight: 600;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 14px;
}

.grid-item-wrap__desc_sales:after {
  content: '-25%';
  background-color: #FFBD13;
  border-radius: 100px;
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
}

.grid-item-wrap__desc_shoes {
  font-size: 40px;
  background-color: #38C0EB;
  height: fit-content;
  padding: 24px 26px;
  border-radius: 20px;
  line-height: 62px;
  align-self: end;
  white-space: pre-line;
}

.grid-item-wrap__shoes-span {
  font-weight: 700;
  font-size: 56px;
}

.grid-item-wrap__desc_gifts {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  align-self: end;
}

.grid-item-wrap__desc_december {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-item-wrap__desc_december:after {
  content: '-15%';
  background-color: #FFBD13;
  border-radius: 100px;
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}

.grid-item-wrap__desc_christmas-decoration {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-self: end;
  display: flex;
  color: #F91155;
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 631px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.grid-item-wrap__red-dress:after {
  content: '-55%';
  background-color: #FFBD13;
  color: #ffffff;
  border-radius: 100px;
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}

.grid-item-wrap__red-shoe:after {
  content: '-40%';
  background-color: #FFBD13;
  color: #ffffff;
  border-radius: 100px;
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}

.grid-item-wrap__desc_cleaning {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-item-wrap__desc_cleaning:before {
  content: '-25%';
  background-color: #FFBD13;
  color: #ffffff;
  border-radius: 100px;
  width: 88px;
  height: 88px;
  background-size: 88px 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
}


@media screen and (max-width: 1744px) {
  .grid-item-wrap__desc_sales {
    font-size: 24px;
    line-height: 31px;
  }

  .grid-item-wrap__desc_shoes {
    font-size: 30px;
    border-radius: 20px;
  }

  .grid-item-wrap__shoes-span {
    font-size: 40px;
  }

  .grid-item-wrap__desc_sales:after {
    font-size: 30px;
  }

  .grid-item-wrap__desc_book {
    font-size: 24px;
    line-height: 39px;
  }

  .grid-item-wrap__book-span {
    font-size: 30px;
  }

  .grid-item-wrap__desc_gifts {
    font-size: 30px;
    line-height: 39px;
  }

  .grid-item-wrap__desc_december {
    font-size: 30px;
    line-height: 39px;
  }

  .grid-item-wrap__desc_cleaning {
    font-size: 19px;
    line-height: 26px;
  }

  .grid-item-wrap__desc_christmas-decoration {
    font-size: 30px;
    max-width: 513px;
    padding: 24px 46px;
    line-height: 36px;
    border-radius: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .grid-item-wrap__desc_main {
    font-size: 40px;
    padding: 0 0 0 80px;
  }

  .grid-item-wrap__desc_shoes {
    line-height: 48px;
  }
}

@media screen and (max-width: 814px) {
  .grid-item-wrap__desc_main {
    font-size: 30px;
  }

  .grid-item-wrap__desc_book {
    line-height: 24px;
    font-size: 21px;
  }

  .grid-item-wrap__book-span {
    font-size: 26px;
  }

  .grid-item-wrap__desc_sales {
    font-size: 15px;
    line-height: 21px;
  }

  .grid-item-wrap__desc_shoes {
    line-height: 18px;
    font-size: 15px;
    white-space: normal;
    border-radius: 12px;
  }

  .grid-item-wrap__shoes-span {
    font-size: 26px;
  }

  .grid-item-wrap__desc_gifts {
    font-size: 16px;
    line-height: 19px;
    max-width: 140px;
  }

  .grid-item-wrap__desc_december {
    font-size: 16px;
    line-height: 19px;
  }

  .grid-item-wrap__desc_december:after {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    font-size: 16px;
  }

  .grid-item-wrap__desc_sales:after {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    font-size: 16px;
  }

  .grid-item-wrap__red-shoe:after {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    font-size: 16px;
  }

  .grid-item-wrap__desc_cleaning:before {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    font-size: 16px;
  }

  .grid-item-wrap__red-dress:after {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    font-size: 16px;
  }

  .grid-item-wrap__desc_sales {
    justify-content: space-between;
  }

  .grid-item-wrap__desc_cleaning {
    font-size: 15px;
    line-height: 19px;
  }

  .grid-item-wrap__desc_christmas-decoration {
    font-size: 20px;
    max-width: 347px;
    padding: 22px 34px;
    line-height: 24px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 630px) {
  .grid-item-wrap__desc_main {
    padding: unset;
    font-size: 22px;
    text-align: center;
    align-self: start;
    line-height: 135px;
  }

  .grid-item-wrap__desc_book {
    line-height: 18px;
    font-size: 14px;
  }

  .grid-item-wrap__book-span {
    font-size: 16px;
  }

  .grid-item-wrap__desc_sales {
    font-size: 12px;
    line-height: 16px;
  }

  .grid-item-wrap__desc_shoes {
    line-height: 13px;
    font-size: 11px;
    padding: 10px 25px;
    border-radius: 8px;
  }

  .grid-item-wrap__shoes-span {
    font-size: 15px;
  }

  .grid-item-wrap__desc_gifts {
    font-size: 12px;
    line-height: 14px;
    max-width: unset;
  }

  .grid-item-wrap__desc_december {
    font-size: 12px;
    line-height: 14px;
    max-width: unset;
  }

  .grid-item-wrap__desc_cleaning {
    font-size: 12px;
    line-height: 38px;
  }

  .grid-item-wrap__desc_christmas-decoration {
    font-size: 12px;
    max-width: 250px;
    padding: 10px 27px;
    line-height: 14px;
    height: 30px;
    border-radius: 6px;
  }
}
