.account__list {
  list-style: none;
  display: grid;
  grid-template-columns: 73px 70px 82px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  max-width: 354px;
}

.account__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #2D2D2D;
  cursor: pointer;
}

.account__item_profile:before {
  content: '';
  background-image: url('img/profile.svg');
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
}

.account__item_cart:before {
  content: '';
  background-image: url('img/shopping_cart.svg');
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
}

.account__item_favorite:before {
  content: '';
  background-image: url('img/favorite.svg');
  background-size: 36px 36px;
  height: 36px;
  width: 36px;
}

@media screen and (max-width: 1200px) {
  .account__list {
    gap: 40px;
  }
}

@media screen and (max-width: 814px) {
  .account__list {
    gap: 30px;
  }

  .account__item {
    font-size: 12px;
  }

  .account__item_profile:before {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
  }

  .account__item_cart:before {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
  }

  .account__item_favorite:before {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 630px) {
  .account__list {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .account__item {
    visibility: hidden;
    width: 30px;
    height: 30px;
  }

  .account__item_profile:before {
    visibility: visible;
    position: absolute;
  }

  .account__item_cart:before {
    visibility: visible;
    position: absolute;
  }

  .account__item_favorite:before {
    visibility: visible;
    position: absolute;
  }
}

