.date {
  font-weight: 700;
  font-size: 32px;
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 78px;
  align-items: center;

  &__bigger {
    font-weight: 700;
    font-size: 60px;
  }

  @media screen and (max-width: 1200px) {
    height: auto;
    gap: 20px;
  }

  @media screen and (max-width: 814px) {
    gap: 10px;
  }

  @media screen and (max-width: 630px) {
    gap: 8px;
  }
}

.date__item {
  @media screen and (max-width: 1200px) {
    font-size: 20px;
  }

  @media screen and (max-width: 814px) {
    font-size: 16px;
  }

  @media screen and (max-width: 630px) {
    font-size: 12px;
  }
}

.date__bigger {
  @media screen and (max-width: 1200px) {
    font-size: 40px;
  }

  @media screen and (max-width: 814px) {
    font-size: 30px;
  }

  @media screen and (max-width: 630px) {
    font-size: 20px;
  }
}
