$charcoal-rgba: rgba(45, 45, 45, 1);
$milk-white-rgba: rgba(255, 255, 255, 1);
$blue-rgba: rgba(54, 112, 199, 1);
$milk-white: #EFEFEF;
$grey: #8F8F8F;
$blue: #3670C7;
$charcoal: #2D2D2D;
$white: #FFFFFF;
$yellow: #FFBD13;
$light-blue: #38C0EB;
$red: #F91155;
$dark-grey: #333333;
$black: #000000;
$light-grey-rgba: rgba(143, 143, 143, 1);


