#previews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 50px 10%;
}

.previews {
  padding: 170px 0 100px 0;
}

.container {
  max-width: 1433px;
}

.preview {
  margin: 0;
  max-width: 645px;
}

.preview__link {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-gap: 13px 30px;
}

.preview__image {
  grid-row: 1 / 3;
  border-radius: 20px;
}

.preview__title {
  grid-column: 2;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

.preview__info {
  grid-column: 2;
}

.preview__info {
  display: grid;
  grid-template-columns: repeat(2, 84px);
  grid-template-rows: auto auto;
  grid-gap: 40px 0;
  align-items: center;
}

.preview__date {
  grid-column: 1 / 3;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: rgba(143, 143, 143, 1);
}

.preview__views {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: rgba(143, 143, 143, 1);
}

.preview__comments {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: rgba(143, 143, 143, 1);
}

